.jeju_main_logo{
    margin: 2rem 0;
    font-family: 'Gugi', cursive;
}
    /*font-family: 'Jua', sans-serif;*/

.jeju_main_btn{
    margin-bottom: 2rem;
}

.jeju_footer_logo{
    margin: 1.5rem 0;
    font-family: 'Gugi', cursive;
}

.jeju_footer_btn{
 margin-bottom: 2rem;
}
